#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 10px 0;
  border-bottom: 2px solid var(--accent);
}

#navbar a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  padding: 8px 12px;
  border-radius: 6px;
}

#navbar a:hover {
  cursor: pointer;
  color: var(--primary-hover);
  background-color: var(--accent-light);
}